<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/float_alignment.css">
    <title>Dataset collection</title>
    
</head>
<body>
    <section class="bg-gray-100">
        <div class="px-4 py-16 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                <div class="lg:py-12 lg:col-span-2">
                    <h1 class="text-xl font-semibold">
                        Hi,Welcome To Transliteration Portal<br><span class="font-normal">Enter text in Original language and in
                            Transliterated form. for
                            e.g<br />Original Text:"মোৰ নাম ___"<br />Transliterated text:"mur
                            naam ____"
                            <br />
                            Sentiment: "Neutral"
                        </span>
                    </h1>
    
                    <div class="mt-8">
                        <a href="" class="text-2xl font-bold text-pink-600"> CIT</a>
    
                        <address class="mt-2 not-italic">Kokrajhar,Assam</address>
                    </div>
                </div>
    
                <div class="p-8 bg-white rounded-xl shadow-2xl lg:p-12 lg:col-span-3">
                    <h1 class="text-xl font-semibold">
                        Transliterated One language using  another language: 
                    </h1>
                    <form  form id="survey-form" method="POST" action="/data"  class="mt-6">
                        <div class="flow-root">
                            <!--original text and language container-->
                            <h2 class="text-center text-l pb-5 font-semibold text-gray-700">
                                From
                            </h2>
                            <div id="container" class="flex flex-col mb-3">
                                <label class="font-semibold text-gray-600 py-2"> Original Language<abbr title="required">*</abbr></label>
                                <select
                                    class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                    required="required" name="Language" id="Language">
                                    <option disabled value class="block mt-2 text-base font-semibold text-gray-700">Select Language</option>
                                    <option value="English" class="block mt-2 text-base font-semibold text-gray-700">English</option>
                                    <option value="Assamese" class="block mt-2 text-base font-semibold text-gray-700">Assamese</option>
                                    <option value="Bengali" class="block mt-2 text-base font-semibold text-gray-700">Bengali</option>
                                    <option value="Bodo" class="block mt-2 text-base font-semibold text-gray-700">Bodo</option>
                                </select>
                            </div>
                            <div id="Original-container" class="flex flex-col mb-3 ">
                                <label for="Original" class="  mt-2 font-semibold text-gray-600 ">Original Text<abbr title="required">*</abbr></label>
                                <input id="Original" type="text" name="Original" placeholder="Enter Original text here"
                                    class="block  p-3 mt-2 text-gray-700 bg-gray-100 appearance-none focus:outline-none focus:bg-gray-200 focus:shadow-inner rounded-lg"
                                    required />
                            </div>
                        </div>


                        <div class="flow-root">
                            <h2 class=" text-center pb-5 text-l font-semibold text-gray-700">
                                To
                            </h2>
                            <!--Transliterate text and language container-->
                            <div id="container_2" class="flex flex-col mb-3">
                                <label class="font-semibold text-gray-600 py-2"> Transliterated Language<abbr title="required">*</abbr></label>
                                <select
                                    class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                    required="required" name="Language" id="Language">
                                    <option disabled value class="block mt-2 text-base font-semibold text-gray-700">Select Language</option>
                                    <option value="English" class="block mt-2 text-base font-semibold text-gray-700">English</option>
                                    <option value="Assamese" class="block mt-2 text-base font-semibold text-gray-700">Assamese</option>
                                    <option value="Bengali" class="block mt-2 text-base font-semibold text-gray-700">Bengali</option>
                                    <option value="Bodo" class="block mt-2 text-base font-semibold text-gray-700">Bodo</option>
                                </select>
                            </div>
                            <div id="transliterate_container" class="flex flex-col mb-3 ">
                                <label for="Transliterated" class="block mt-2 font-semibold text-gray-600 ">Transliterated
                                    Text</label>
                                <input id="Transliterated" type="text" name="Transliterated" placeholder="Enter Transliterated text here"
                                    class="block w-full p-3 mt-2 text-gray-600 bg-gray-100 appearance-none focus:outline-none focus:bg-gray-200 focus:shadow-inner rounded-lg"
                                    required />
                            </div>
                        </div>
                        
                    
                        
                        <div class="w-full flex flex-col mb-3">
                            <label class="font-bold text-gray-700 py-2">Sentiment<abbr title="required">*</abbr></label>
                            <select
                                class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                required="required" name="Sentiment" id="Sentiment">
                                <option disabled value class="block mt-2 text-base font-semibold text-gray-700">Select Sentiment</option>
                                <option value="Assamese" class="block mt-2 text-base font-semibold text-gray-700">Positive</option>
                                <option value="Bengali" class="block mt-2 text-base font-semibold text-gray-700">Negative</option>
                                <option value="Bodo" class="block mt-2 text-base font-semibold text-gray-700">Neutral</option>
                            </select>
                        </div>
                    
                        <button  type="submit"
                            class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-xl">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>