<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <title>Dataset collection</title>
</head>
<body>
    <section class="bg-gray-100">
        <div class="px-4 py-16 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                <div class="lg:py-12 lg:col-span-2">
                    <h1 class="text-xl font-semibold">
                        Hi,Welcome To Transliteration Portal<br><span class="font-normal">Enter text in Original language and in
                            Transliterated form. for
                            e.g<br />Original Text:"মোৰ নাম ___"<br />Transliterated text:"mur
                            naam ____"
                            <br />
                            Sentiment: "Neutral"
                        </span>
                    </h1>
    
                    <!-- <div class="mt-8">
                        <a href="" class="text-2xl font-bold text-pink-600"> 0151 475 4450 </a>
    
                        <address class="mt-2 not-italic">282 Kevin Brook, Imogeneborough, CA 58517</address>
                    </div> -->
                </div>
    
                <div class="p-8 bg-white rounded-lg shadow-lg lg:p-12 lg:col-span-3">
                    <h1 class="text-xl font-semibold">
                        Fill up the following fields: 
                    </h1>
                    <form form id="survey-form" method="POST" action="/data" class="mt-6">
                        <div class="w-full flex flex-col mb-3">
                            <label class="font-semibold text-gray-600 py-2">Language<abbr title="required">*</abbr></label>
                            <select
                                class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                required="required" name="Language" id="Language">
                                <option disabled value class="block mt-2 text-base font-semibold text-gray-700">Select Language</option>
                                <option value="Assamese" class="block mt-2 text-base font-semibold text-gray-700">Assamese</option>
                                <option value="Bengali" class="block mt-2 text-base font-semibold text-gray-700">Bengali</option>
                                <option value="Bodo" class="block mt-2 text-base font-semibold text-gray-700">Bodo</option>
                            </select>
                        </div>
                    
                        <label for="Original" class="block mt-2 text-xs font-extrabold text-gray-700 uppercase">Original
                            Text</label>
                        <input id="Original" type="text" name="Original" placeholder="Enter Original text here"
                            class="block w-full p-3 mt-2 text-gray-700 bg-gray-300 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                            required />
                        <label for="Transliterated" class="block mt-2 text-xs font-extrabold text-gray-700 uppercase">Transliterated
                            Text</label>
                        <input id="Transliterated" type="text" name="Transliterated" placeholder="Enter Transliterated text here"
                            class="block w-full p-3 mt-2 text-gray-700 bg-gray-300 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                            required />
                    
                        <div class="w-full flex flex-col mb-3">
                            <label class="font-bold text-gray-700 py-2">Sentiment<abbr title="required">*</abbr></label>
                            <select
                                class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                required="required" name="Sentiment" id="Sentiment">
                                <option disabled value class="block mt-2 text-base font-semibold text-gray-700">Select Sentiment</option>
                                <option value="Assamese" class="block mt-2 text-base font-semibold text-gray-700">Positive</option>
                                <option value="Bengali" class="block mt-2 text-base font-semibold text-gray-700">Negative</option>
                                <option value="Bodo" class="block mt-2 text-base font-semibold text-gray-700">Neutral</option>
                            </select>
                        </div>
                    
                        <button  type="submit"
                            class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- <script>
    function myFunction() {
        alert("Data submitted Successfully");
    }
</script> -->
</body>
</html>